.content{
    margin: 56px 0 92px;
    box-sizing: border-box;

}
@media screen and (max-width: 1024px){
    .content{
        margin: 48px auto 92px;
    }
}
@media screen and (max-width: 768px){
    .content{
        margin: 48px auto 88px;
    }
}
@media screen and (max-width: 500px){
    .content{
        margin: 48px auto 64px;
    }
}
