.section__header{
    margin: 0 auto;
}
@media screen and (max-width: 1184px){
    .section__header{
        padding: 0 48px;
    }
}
@media screen and (max-width: 768px){
    .section__header{
        padding: 0 24px;
    }
}
@media screen and (max-width: 425px){
    .section__header{
        padding: 0 16px;
    }
}
